$primary10: white;
$primary30: #8A8AA8;
$primary40: #414158;
$primary50: #1D1616;
$black: #000000;
$light40: #EAEFF4;
$light50: #E6E9EC;;
$error: #FF4023;
$check: #62C554;
//TODO test real colors
$grey: #7f7f7f;
$dark-grey: #606060;
$light-grey: #BFBFBF;
$lightest-grey: #F8F8F8;
$black: #000;
$white: white;
$light-purple: #dbddfd;
$hover: #f7f3ec;
$overlay: rgba(0, 0, 0, 0.2);

$background-grey: #F9F9F9;
$background-black: #000000CC;

$border-grey: #C1CCE2;
$border-grey-2: #C4C4C4;
$gold : #996D15;
$border-grey-3: #dfdfdf;

// MGM Brand Colors
$primary-color: #996D15;
$primary-color-light: #F7F3EC;
$darkest-grey: #404040;
$disabled-grey: #dfdfdf;
$error-red: #E02D21;
